@import '~@angular/material/theming';

@mixin demoviewer-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .demoviewer {
        padding: 10px;
        
        .demo-player {
            display: flex;
            flex-direction: column;

            .player-buttons {
                display: flex;
                flex-direction: row;
                padding: 10px;

                .mat-button-base {
                    margin: auto;
                }

                .round-progress {
                    flex: 1;
                    padding: 0px 20px;
                }

                .round-text {
                    margin: auto;
                }
            }

            .map-details {
                display: flex;
                flex-direction: column;

                .spacer {
                    flex: 1;
                }

                figure.demo-screen {
                    margin: auto;
                }

                .team-card {
                    padding: 20px;
                    margin-top: 50px;
                }

                .round-info-header {
                    padding: 10px 20px;
                }

                .round-info {
                    display: flex;
                    flex-direction: row;
                }
            }
        }


    }
}
