<mat-sidenav-container class="app-container">
    <mat-sidenav mode="over" class="sidebar" #sidebar>
        <mat-nav-list>
            <div mat-subheader>Main Menu</div>
            <mat-list-item (click)="sidebar.toggle()" routerLink="/">
                <div mat-line>Demo Viewer</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidebar-content">
        <mat-toolbar color="primary" class="top-toolbar">
            <button mat-icon-button (click)="sidebar.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>CSGO Demo Viewer</span>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="themeMenu">
                <mat-icon>format_color_fill</mat-icon>
            </button>
            <mat-menu #themeMenu="matMenu">
                <button mat-menu-item (click)="setTheme('light-theme')">Light Theme</button>
                <button mat-menu-item (click)="setTheme('dark-theme')">Dark Theme</button>
            </mat-menu>
        </mat-toolbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>