<div class="load-demo">
    <div class="row">
        <button mat-raised-button [disabled]="loading" (click)="onOpenDemFile()">Open .dem file</button>
        <button mat-raised-button [disabled]="loading" (click)="onLoadDemz()">Open parsed .demz file</button>
        <button mat-raised-button [disabled]="loading" (click)="onLoadDemo()">Parse</button>
        <button mat-raised-button [disabled]="!loading" (click)="onStopParsing()">Stop Parsing</button>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Filename</mat-label>
            <input matInput type="text" disabled="true" [(ngModel)]="filename">
        </mat-form-field>
    </div>
    <div class="row" *ngIf="loading">
        <div class="parsing-text">{{text}}</div>
    </div>
    <div class="row" *ngIf="loading">
        <mat-progress-bar role="progressbar" mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
</div>