
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dv-image-primary: mat-palette($mat-indigo);
$dv-image-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dv-image-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dv-image-light-theme: mat-light-theme((
  color: (
    primary: $dv-image-primary,
    accent: $dv-image-accent,
    warn: $dv-image-warn,
  )
));

$dv-image-dark-theme: mat-dark-theme((
  color: (
    primary: $dv-image-primary,
    accent: $dv-image-accent,
    warn: $dv-image-warn,
  )
));

@import 'material-icons/iconfont/material-icons.scss';

@import './app/app.component.scss';
@import './app/routes/demo-viewer/demo-viewer.component.scss';
@import './app/components/map-info-card/map-info-card.component.scss';
@import './app/components/player-info-card/player-info-card.component.scss';
@import './app/components/map-header-info/map-header-info.component.scss';
@import './app/components/timeline-slider/timeline-slider.component.scss';
@import './app/components/map-viewer/map-viewer.component.scss';
@import './app/components/map-viewer-components/player/player.component.scss';
@import './app/components/map-viewer-components/player-death-mark/player-death-mark.component.scss';
@import './app/components/map-viewer-components/projectile/projectile.component.scss';
@import './app/components/map-viewer-components/bomb/bomb.component.scss';
@import './app/components/map-viewer-components/utility/utility.component.scss';

@mixin app-theme($theme) {
  // Include Application Component Mixins
  @include app-component-theme($theme);
  @include demoviewer-component-theme($theme);
  @include map-info-card-component-theme($theme);
  @include player-info-card-component-theme($theme);
  @include map-header-info-component-theme($theme);
  @include timeline-slider-component-theme($theme);
  @include map-viewer-component-theme($theme);

  @include player-component-theme($theme);
  @include player-death-mark-component-theme($theme);
  @include projectile-component-theme($theme);
  @include bomb-component-theme($theme);
  @include utility-component-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dv-image-light-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-theme {
  @include app-theme($dv-image-light-theme);
}

.dark-theme {
  @include angular-material-color($dv-image-dark-theme);
  @include app-theme($dv-image-dark-theme);
}
